<ion-modal [isOpen]="isOpen" (didDismiss)="onDidDismiss()" (didPresent)="onDidPresent()" class="product-detail-modal">
  <ng-template>
    @if (nodo) {
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="presentActionSheet()" title="Opciones">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Detalles del Nodo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding detail-modal-content">
        <div class="modal-detail-container">
          <div class="detail-info-card">
            <div class="detail-copy-block">
              <h3 class="detail-title">{{ nodo.name }}</h3>
              
              <div class="contact-info-group">
                <span class="contact-label">Dirección</span>
                <span class="contact-value">{{ nodo.address }}</span>
              </div>
              
              <div class="contact-info-group">
                <span class="contact-label">Encargado</span>
                <span class="contact-value">{{ nodo.manager_name }}</span>
              </div>
            </div>
            
            <div class="detail-description-section">
              <h3>Ubicación</h3>
              <div id="modalMap" class="modal-map-container"></div>
            </div>
          </div>
          
          <ion-button expand="block" class="edit-details-btn" (click)="onEdit()">
            Editar Detalles
          </ion-button>
        </div>
      </ion-content>
    }
  </ng-template>
</ion-modal>
