<ion-modal [isOpen]="isOpen" (didDismiss)="onDidDismiss()" (didPresent)="onDidPresent()" class="product-detail-modal">
  <ng-template>
    @if (nodo) {
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>Detalles del Nodo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="onEdit()" title="Editar Nodo" style="margin-right: 8px;">
              <ion-icon slot="icon-only" name="pencil-outline" color="primary"></ion-icon>
            </ion-button>
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding detail-modal-content">
        <div class="modal-detail-container">
          <div class="detail-info-card">
            <div class="detail-copy-block">
              <h3 class="detail-title">{{ nodo.name }}</h3>
              <p><strong>Dirección:</strong> {{ nodo.address }}</p>
              <p><strong>Encargado:</strong> {{ nodo.manager_name }}</p>
            </div>
            
            <div class="detail-description-section">
              <h3>Ubicación en Mapa</h3>
              <div id="modalMap" class="modal-map-container"></div>
            </div>
          </div>
        </div>
      </ion-content>
    }
  </ng-template>
</ion-modal>
