ion-content {
  --background: #f8f9fa;

  &::part(scroll) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.admin-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.map-container {
  height: 300px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #cbd5e1;
  z-index: 1; /* Keep leaflet controls below ionic headers */
  overflow: hidden; /* Prevent tiles from overflowing rounded corners */
}

.modal-map-container {
  height: 250px;
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
  border: 1px solid #cbd5e1;
  z-index: 1;
}

.action-buttons {
  display: flex;
  gap: 4px;
  align-items: center;
}

.custom-leaflet-marker {
  svg {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
  }
}
