<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (showCustomBack || defaultHref) {
        <ion-button (click)="onBackClick()" aria-label="Volver atrás">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      }
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>

    @if (showLogout) {
      <ion-buttons slot="end">
        <ion-button (click)="onLogout()" class="logout-button" aria-label="Cerrar sesión">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>
