<ion-card class="form-card">
  <ion-card-header>
    <ion-card-title>{{ isEditing ? 'Modificar Datos del Nodo' : 'Nuevo Nodo de Retiro' }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="nodoForm" (ngSubmit)="onSubmit()">
      <!-- Contenedor del Mapa Principal con referencia ViewChild -->
      <div #mapContainerRef id="map" class="map-container"></div>

      <div class="input-group">
        <label>Nombre del Nodo</label>
        <div class="custom-input" [class.invalid]="f['name'].touched && f['name'].invalid">
          <ion-icon name="business-outline"></ion-icon>
          <ion-input formControlName="name" placeholder="Ej: Nodo Centro"></ion-input>
        </div>
        @if (f['name'].touched && f['name'].invalid) {
          <ion-text color="danger">
            @if (f['name'].errors?.['required']) {
              <small>El nombre es obligatorio.</small>
            }
            @if (f['name'].errors?.['minlength']) {
              <small>Mínimo 3 caracteres.</small>
            }
          </ion-text>
        }
      </div>

      <div class="input-group">
        <label>Dirección Física</label>
        <div class="custom-input" [class.invalid]="f['address'].touched && f['address'].invalid">
          <ion-icon name="location-outline"></ion-icon>
          <ion-input formControlName="address" placeholder="Ej: Av. Principal 123"></ion-input>
        </div>
        @if (f['address'].touched && f['address'].invalid) {
          <ion-text color="danger">
            @if (f['address'].errors?.['required']) {
              <small>La dirección es obligatoria.</small>
            }
            @if (f['address'].errors?.['minlength']) {
              <small>Mínimo 5 caracteres.</small>
            }
          </ion-text>
        }
      </div>

      <div class="input-group">
        <label>Responsable del Nodo</label>
        <div class="custom-input" [class.invalid]="f['manager_name'].touched && f['manager_name'].invalid">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input formControlName="manager_name" placeholder="Nombre del encargado"></ion-input>
        </div>
        @if (f['manager_name'].touched && f['manager_name'].invalid) {
          <ion-text color="danger">
            @if (f['manager_name'].errors?.['required']) {
              <small>El responsable es obligatorio.</small>
            }
          </ion-text>
        }
      </div>



      <ion-button expand="block" type="submit" class="submit-button" [disabled]="isSaving">
        @if (!isSaving) {
          @if (isEditing) {
            <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          } @else {
            <ion-icon slot="start" name="add-outline"></ion-icon>
          }
          <span>{{ isEditing ? 'Guardar Cambios' : 'Crear Nodo' }}</span>
        }
        @if (isSaving) {
          <ion-spinner name="crescent"></ion-spinner>
        }
      </ion-button>

      @if (errorMessage) {
        <ion-text color="danger" class="ion-text-center">
          <p>{{ errorMessage }}</p>
        </ion-text>
      }
    </form>
  </ion-card-content>
</ion-card>
